/*
##############################################################################
                                    TO DO
##############################################################################

- fix the centering of all elements inside the window screens


##############################################################################
                                    TO DO
##############################################################################
*/

/* ####################################################################### */
/* ############################ MAIN WINDOWS ############################# */

body {
  margin: 5em 8% 10% 8%;
  background: #262626;
  height: 65vh;
}

.actI {
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
  border-color: #696969;
  background: #000000;

  height: 80vh;
  width: 20%;

  display: block;
  float: left;

  margin-right: 5%;
}

.actIButton {
  font-size: 100%;
}

.mainScreen {
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
  border-color: #696969;

  background: #000000;

  height: 10vh;
  width: 40%;

  display: block;
  float: left;

  margin-right: 5%;
}


.completionScreen {
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
  border-color: #696969;

  height: 15vh;
  width: 27%;

  display: block;
  float: left;

  background: #000000;
}

.De_orbit_window {
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
  border-color: #696969;

  background: #000000;

  height: 40vh;
  width: 40%;

  display: block;
  float: left;

  margin-right: 5%;
}

.actIV {
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
  border-color: #696969;

  background: #000000;

  height: 18vh;
  width: 40%;

  display: block;
  float: left;

  margin-top: 5%;
  margin-right: 5%;
}

.navigationLog {
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
  border-color: #696969;

  background: #000000;

  height: 55vh;
  width: 28%;

  display: inline-block;

  margin-top: 5%;
}

.dashboardImg {
  text-align: center;
}

#dashImg {
  width: 87%;
  max-height: 14em;
  border-style: inset;
  border-width: thick;
  border-color: #DCDCDC;
}

/* ############################ MAIN WINDOWS ############################# */
/* ####################################################################### */

/* ############################ INFO SCREEN ############################## */
/* ####################################################################### */

.infoScreen {
  margin: 2% 8% 2% 8%;
  height: 15.3vh;

  text-align: center;

  background: #353535;
  border-style: inset;
  border-width: thick;
  border-color: #FFD700;

  color: #FFD700;
  overflow: auto;
}

/* ############################ INFO SCREEN ############################## */
/* ####################################################################### */

/* ############################ WINDOW I ################################# */
/* ####################################################################### */

.actIButton {
  text-align: center;
  color: #DC143C;

  display: block;
  float: left;

  border-style: inset;
  border-width: medium;
  border-radius: 5px;
  border-color: #A9A9A9;

  width: 45%;
  margin: 5% 0% 0% 1.8%;
  font-size: 95%;
}

.actIButton:hover {
  border-color: #DC143C;
  color: #7FFF00;
  font-size: 95%;
}

/* ############################ WINDOW I ################################# */
/* ####################################################################### */

/* ####################################################################### */
/* ######################## NAV LOG WINDOW ############################### */

.navLogText {
  margin: 5% 5% 5% 5%;
  padding: 2% 0 0% 5%;
  height: 40%;
  font-size: 80%;

  border-style: inset;
  border-width: thick;
  border-color: #DCDCDC;
  background: #353535;

  opacity: 0.1;
  overflow: auto;
}

.questText {
  color: #9ef01a;
}

.questText:hover {
  color: #ff0054;
}

#par1:hover, #par2:hover {
  color: #ff0054;
}

p {
  color: #ffffff;
}

#mapImg {
  margin: 2% 0 5% 5%;
  width: 87%;
  height: 23vh;

  display: block;
  float: left;
  opacity: 0.1;

  border-style: inset;
  border-width: thick;
  border-color: #DCDCDC;

}

/* ######################## NAV LOG WINDOW ############################### */
/* ####################################################################### */

/* ####################################################################### */
/* ########################## COMMS WINDOW ############################### */

.mainDialog {
  margin: 2% 8% 2% 8%;
  height: 7vh;

  text-align: center;
  line-height: 6vh;

  background: #353535;
  border-style: inset;
  border-width: thick;
  border-color: #DCDCDC;

  color: #FFD700;
}

/* ########################## COMMS WINDOW ############################### */
/* ####################################################################### */

/* ####################################################################### */
/* ######################### COMPLETION WINDOW ########################### */

.complLights {
  border-style: outset;
  border-width: thick;
  border-radius: 100%;
  border-color: white;
  width: 5%;
  margin: 6% 2% 2% 2%;
  height: 2vh;

  display: block;
  float: left;
  margin-left: 6%;
  text-align: center;
  background: #FF4500;
  opacity: 0.1;
}

.mistakLights {

  border-style: outset;
  border-width: thick;
  border-radius: 100%;
  border-color: white;
  width: 5%;
  margin: 6% 2% 2% 2%;
  height: 2vh;

  display: block;
  float: left;
  margin-left: 6%;
  text-align: center;
  background: #ffffff;
  opacity: 0.1
}

.complLightsACT {
  border-style: outset;
  border-width: thick;
  border-radius: 100%;
  border-color: white;
  width: 5%;
  margin: 6% 2% 2% 2%;
  height: 2vh;

  display: block;
  float: left;
  margin-left: 6%;
  text-align: center;
  background: #FF4500;
}

.mistakLightsACT {
  border-style: outset;
  border-width: thick;
  border-radius: 100%;
  border-color: white;
  width: 5%;
  margin: 6% 2% 2% 2%;
  height: 2vh;

  display: block;
  float: left;
  margin-left: 6%;
  text-align: center;
  background: #ffffff;
}

/* ######################### COMPLETION WINDOW ########################### */
/* ####################################################################### */

/* ####################################################################### */
/* ########################## ORBIT WINDOW ############################ */

.container {
}

#imageScreen {
  margin: 5% 0 5% 5%;
  width: 30%;
  height: 20vh;

  display: block;
  float: left;

  border-style: inset;
  border-width: thick;
  border-color: #DCDCDC;
  opacity: 0.1;
}

.task_1 {
  margin: 5% 0 2% 5%;
  width: 53%;
  height: 12em;

  display: block;
  float: left;

  border-style: solid;
  border-width: medium;
  border-color: #696969;
  opacity: 0.1;
}


.task_3 {
  margin: 1% 5% 5% 5%;
  width: 90%;
  height: 8vh;

  display: block;
  float: left;

  border-style: solid;
  border-width: medium;
  border-color: #696969;
  opacity: 0.1;
}

/* ########################## ORBIT WINDOW ############################ */
/* ####################################################################### */

/* ####################################################################### */
/* ########################## ORBIT BUTTONS ########################### */

/* ########################## BUTTONS STAGE I ############################ */
div.deOrButt {
  text-align: center;
  color: #DC143C;

  font-size: 90%;

  display: block;
  float: left;

  border-style: inset;
  border-width: medium;
  border-radius: 5px;
  border-color: #A9A9A9;

  width: 45%;
  margin: 2% 0% 0.5% 1.8%;
}

div.deOrButt:hover {
  font-size: 90%;
  border-color: #DC143C;
  color: #7FFF00;
}

/* ########################## BUTTONS STAGE II ############################ */

div.deOrButtII {
  font-size: 90%;
  text-align: center;
  color: #DC143C;

  display: block;
  float: left;

  border-style: inset;
  border-width: medium;
  border-radius: 5px;
  border-color: #A9A9A9;

  width: 21.5%;
  margin: 1% 0% 0% 1.8%;
}

div.deOrButtII:hover {
  font-size: 90%;
  border-color: #DC143C;
  color: #7FFF00;
}





/* ########################## ORBIT BUTTONS ########################### */
/* ####################################################################### */
